
@font-face {font-family: "m-iconfont";
  src: url('../font/iconfont.eot?t=1525829776185'); /* IE9*/
  src: url('../font/iconfont.eot?t=1525829776185#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1525829776185') format('woff'), 
  url('../font/iconfont.ttf?t=1525829776185') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1525829776185#m-iconfont') format('svg'); /* iOS 4.1- */
}

.ued-mobile {
  font-family:"m-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


